<div class="container">
  <div class="row">
    <div class="main-table">
      <div class="table-top" style="margin-top: 30px;">
        <div class="filter-box">
          <div class="filter-exchange">
            <div class="filter-input">
              <label>
                coin
              </label>
              <select class="selectpicker btn btn-default" #c id="sel_coin" (change)="coinchange(c.value)">
                <ng-container *ngFor="let coin of coinlist;let i = index">
                  <option value="{{coin.coin_symbol}}">{{coin.coin_name}}</option>
                </ng-container>
              </select>
            </div>
            <div class="filter-input">
              <label>
                exchange
              </label>
              <select class="selectpicker btn btn-default" #e id="sel_exchange" (change)="exchangechange(e.value)">
                <ng-container *ngFor="let exch of exchangelist;let i = index">
                  <option value="{{exch.ex_id}}">{{exch.name}}</option>
                </ng-container>
                <option value="all">All</option>
              </select>
            </div>

            <div class="clearfix"></div>
          </div>

          <div class="filter-markets">
            <div class="filter-coin">
              <label>Market</label>
              <ul class="list-unstyled coin-filter-btn">
                <li (click)="toggleClass('BTC',1)" [ngClass]="selectedIndex == 1 ? 'active':''" [style.pointer-events]="selectedIndex == 1 ? 'none':'initial'">
                  <a href="javascript:;" class="btn btn-coin">BTC</a>
                </li>
                <li (click)="toggleClass('ETH',2)" [ngClass]="selectedIndex == 2 ? 'active':''" [style.pointer-events]="selectedIndex == 2 ? 'none':'initial'">
                  <a href="javascript:;" class="btn btn-coin">ETH</a>
                </li>
                <li (click)="toggleClass('USD',3)" [ngClass]="selectedIndex == 3 ? 'active':''" [style.pointer-events]="selectedIndex == 3 ? 'none':'initial'">
                  <a href="javascript:;" class="btn btn-coin">USD</a>
                </li>
                <li (click)="toggleClass('USDT',4)" [ngClass]="selectedIndex == 4 ? 'active':''" [style.pointer-events]="selectedIndex == 4 ? 'none':'initial'">
                  <a href="javascript:;" class="btn btn-coin">USDT</a>
                </li>
              </ul>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div>
          <h5>Page refresh in : <span id="timer">{{countDown | async}}</span> second</h5>
        </div>

        <!-- <div class="filter-box ">
            <ul class="list-unstyled exchange-list text-right">
              <li class="active">
                <a href="javascript:;" class="btn btn-exchange">1H</a>
              </li>
              <li class="">
                <a href="javascript:;" class="btn btn-exchange">12H</a>
              </li>
              <li class="">
                <a href="javascript:;" class="btn btn-exchange">24H</a>
              </li>
            </ul>
          </div> -->
      </div>
    </div>
    <div class="col-xs-12 ccol-sm-12 col-md-12 table-content">
      <h3 class="table-heading">
        ORDER BOOK
      </h3>
    </div>
    <div class="col-xs-12 ccol-sm-12 col-md-6">
      <div class="border-top-none table-content mb-0">
        <h5 class="table-subtitle">BIDS</h5>
      </div>
      <div class="border-top-none table-content mt-0" *ngIf="showloaderbid" style="text-align:center;">
        <img src="../../assets/images/image_loader.gif" style="margin-top:2%;">
      </div>
      <div class="border-top-none table-content" *ngIf="!showloaderbid">
        <table class="table table-responsive" id="bids_table" *ngIf="bidsData == ''">
          <thead>
            <tr>
              <th>Sum</th>
              <th>Total</th>
              <th>Size ({{coincoin}})</th>
              <th>Bid ({{coincurr}})</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td align="center" colspan="4">No Data Found</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-responsive" id="bids_table" *ngIf="bidsData != ''">
          <thead>
            <tr>
              <th>Sum</th>
              <th>Total</th>
              <th>Size ({{coincoin}})</th>
              <th>Bid ({{coincurr}})</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let bids of bidsData; let i = index" id="tr_bids_{{i}}">
              <td *ngIf="bids.sum >= 1000" id="bids_sum_{{i}}">{{bids.sum | number : '1.0-5'}}</td>
              <td *ngIf="bids.sum < 1000" id="bids_sum_{{i}}">{{bids.sum | number : '1.0-8'}}</td>
              <td *ngIf="bids.total >= 1000" id="bids_total_{{i}}">{{bids.total | number : '1.0-5'}}</td>
              <td *ngIf="bids.total < 1000" id="bids_total_{{i}}">{{bids.total | number : '1.0-8'}}</td>
              <td *ngIf="bids.size >= 1000" id="bids_size_{{i}}">{{bids.size | number : '1.0-5'}}</td>
              <td *ngIf="bids.size < 1000" id="bids_size_{{i}}">{{bids.size | number : '1.0-8'}}</td>
              <td *ngIf="bids.bid >= 1000" id="bids_bid_{{i}}">{{bids.bid | number : '1.0-5'}}</td>
              <td *ngIf="bids.bid < 1000" id="bids_bid_{{i}}">{{bids.bid | number : '1.0-8'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-xs-12 ccol-sm-12 col-md-6">
      <div class="border-top-none table-content mb-0">
        <h5 class="table-subtitle">ASKS</h5>
      </div>
      <div class="border-top-none table-content mt-0" *ngIf="showloaderask" style="text-align:center;">
        <img src="../../assets/images/image_loader.gif" style="margin-top:2%;">
      </div>
      <div class="border-top-none table-content" *ngIf="!showloaderask">
        <table class="table table-responsive" id="ask_table" *ngIf="askData == ''">
          <thead>
            <tr>
              <th>Ask ({{coincurr}})</th>
              <th>Size ({{coincoin}})</th>
              <th>Total</th>
              <th>Sum</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td align="center" colspan="4">No Data Found</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-responsive" id="ask_table" *ngIf="askData != ''">
          <thead>
            <tr>
              <th>Ask ({{coincurr}})</th>
              <th>Size ({{coincoin}})</th>
              <th>Total</th>
              <th>Sum</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let asks of askData; let i = index" id="tr_asks_{{i}}">
              <td *ngIf="asks.ask >= 1000" id="asks_ask_{{i}}">{{asks.ask | number : '1.0-5'}}</td>
              <td *ngIf="asks.ask < 1000" id="asks_ask_{{i}}">{{asks.ask | number : '1.0-8'}}</td>
              <td *ngIf="asks.size >= 1000" id="asks_size_{{i}}">{{asks.size | number : '1.0-5'}}</td>
              <td *ngIf="asks.size < 1000" id="asks_size_{{i}}">{{asks.size | number : '1.0-8'}}</td>
              <td *ngIf="asks.total >= 1000" id="asks_total_{{i}}">{{asks.total | number : '1.0-5'}}</td>
              <td *ngIf="asks.total < 1000" id="asks_total_{{i}}">{{asks.total | number : '1.0-8'}}</td>
              <td *ngIf="asks.sum >= 1000" id="asks_sum_{{i}}">{{asks.sum | number : '1.0-5'}}</td>
              <td *ngIf="asks.sum < 1000" id="asks_sum_{{i}}">{{asks.sum | number : '1.0-8'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-xs-12 ccol-sm-12 col-md-12">
      <h3 class="table-heading">
        MARKET HISTORY
      </h3>
      <div class="border-top-none table-content" *ngIf="showloadermkt" style="text-align:center;">
        <img src="../../assets/images/image_loader.gif" style="margin-top:2%;">
      </div>
      <div class="border-top-none table-content mt-0" style="margin:0;">
        <div class="col-md-2" style="padding: 0;margin-top: 2%;margin-bottom: 2%;">
          <label class="col-md-4" style="padding: 0;"> Show :</label> 
          <select class="form-control col-md-6" style="width: 50%;" #l id="length_data" (change)="datachange(l.value)">
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </div>
      </div>
      <div class="border-top-none table-content mt-0" *ngIf="!showloadermkt">
        <table class="table table-responsive" id="market_table" *ngIf="marketdata == ''">
          <thead>
            <tr>
              <th>Date</th>
              <th>Buy/Sell</th>
              <th>Bid/Ask</th>
              <th>Total Units({{coincoin}})</th>
              <th>Total Cost({{coincurr}})</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td align="center" colspan="5">No Data Found</td>
            </tr>
          </tbody>
        </table>
        <table class="table table-responsive" id="market_table" *ngIf="marketdata != ''">
          <thead>
            <tr>
              <th>Date</th>
              <th>Buy/Sell</th>
              <th>Bid/Ask</th>
              <th>Total Units({{coincoin}})</th>
              <th>Total Cost({{coincurr}})</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let mkt of marketdata; let i = index" id="tr_mkt_{{i}}">
              <td width="20%" id="mkt_date_{{i}}">{{mkt.timestamp | date: 'dd/MM/yyyy h:mm:ss a'}}</td>
              <td width="20%" id="mkt_type_{{i}}" class="text-uppercase" [ngClass]="mkt.order_type == 'BUY' ? 'green-text' : 'red-text'">{{mkt.order_type}}
                <i class="fa" [ngClass]="mkt.order_type == 'BUY' ? 'fa-arrow-up' : 'fa-arrow-down'"></i>
              </td>
              <td *ngIf="mkt.rate >= 1000" width="20%" id="mkt_price_{{i}}">{{mkt.rate | number : '1.0-5'}}</td>
              <td *ngIf="mkt.rate < 1000" width="20%" id="mkt_price_{{i}}">{{mkt.rate | number : '1.0-8'}}</td>
              <td *ngIf="mkt.quantity >= 1000" width="20%" id="mkt_qty_{{i}}">{{mkt.quantity | number : '1.0-5'}}</td>
              <td *ngIf="mkt.quantity < 1000" width="20%" id="mkt_qty_{{i}}">{{mkt.quantity | number : '1.0-8'}}</td>
              <td *ngIf="mkt.total >= 1000" width="20%" id="mkt_total_{{i}}">{{mkt.total | number : '1.0-5'}}</td>
              <td *ngIf="mkt.total < 1000" width="20%" id="mkt_total_{{i}}">{{mkt.total | number : '1.0-8'}}</td>
            </tr>
          </tbody>
        </table>
        <div class="bottom pull-left mt-20">
          <label>Showing {{start+1}} to {{start+10}} of {{totalmarketdata}} entries</label>
        </div>
        <div class="bottom pull-right">
          <div class="dataTables_paginate paging_simple_numbers" id="coinlist_paginate">
            <ul class="pagination">
              <li class="paginate_button page-item previous" [style.pointer-events]="this.next == 1 ? 'none' : ''" id="coinlist_previous" (click)="prevpage();">
                <a href="javascript:;" class="page-link">Previous</a>
              </li>
              <li class="paginate_button page-item next" id="coinlist_next" (click)="nextpage();">
                <a href="javascript:;" class="page-link">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>